@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'MuseoModerno';
    font-style: normal;
    font-weight: 200;
    src: local(''),
         url('../fonts/museomoderno-v2-latin-200.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/museomoderno-v2-latin-200.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/spartan-v2-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v2-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/spartan-v2-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v2-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/spartan-v2-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v2-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/spartan-v2-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v2-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 800;
    src: local(''),
         url('../fonts/spartan-v2-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v2-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  @font-face {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/spartan-v2-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/spartan-v2-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  html {
    @apply text-primary;
  }

  h1 {
    @apply mb-8 text-5xl font-extrabold leading-snug;
  }

  h3 {
    @apply mb-5 text-3xl font-bold leading-snug;
  }
}


@layer components {
  .cta {
    @apply border border-gray-800 px-24 py-6 font-semibold uppercase w-full text-center sm:w-auto;
  }

  .form-item {
    @apply flex-auto pt-6;
  }

  .form-item input {
    @apply w-full py-2 border-b border-gray-300 placeholder-gray-400 focus:outline-none focus:border-gray-500;
  }

  .form-item textarea  {
    @apply w-full p-4 border border-gray-300 resize-none focus:outline-none focus:border-gray-500;
  }

  .header-navlink {
    @apply block my-2 uppercase font-normal lg:mx-12 lg:my-0 cursor-pointer border-gray-400 hover:border-b;
  }
}